*{margin:0;
  padding:0
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: ;
}


/* Basic Styles 
body {
	background-color: #333;
}*/

header {
	background-color:#3D3D3D;
}

.logo_fly{
    background-image:url(../Images/fly_logo.png);
	margin-left:2%;
	margin-top:3px;
	margin-bottom:3px;
	height:55px;
	width:102px;
	display:inline-block;
    vertical-align:top;
}

.user{
    background-image:url(../Images/user.png);
    margin-right:7px;
    margin-top:5px;
    margin-bottom:3px;
    height:39px;
    width:40px;
    display:inline-block;
    vertical-align:top;
	float:right;
    cursor: pointer;
}

.user:hover{
    background-image:url(../Images/user-hover.png);
   }

/* h5{text-align:center;} */

nav {
	height: 59px;
	width: 66%;
	background:#3d3d3d;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	display:inline-block;
	vertical-align:top;
	margin-left:6%;
	/*border-bottom: 2px solid #283744;*/
}

nav ul {
    border-top: 1px solid #2C2C2C;
	padding: 0;
	margin: 0 auto;
	width: auto;
	height: 59px;
}

nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 59px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid #2C2C2C;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #7C7E80;
}
nav a#pull {
	display: none;
}

#project {
	width:100%;
	color: #fff;
	font-size: 10.2pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	background:#3D3D3D;
	border:none;
	cursor: pointer;
	padding-top:3%;
	padding-bottom:3%
	}

#project:hover {
	background:#7C7E80;
    }

.section {
    width:100%;
    /*opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);*/
    background:#5e5f5f;
    margin: 0 auto;
} 

.col {
    display:inline-block;
    vertical-align:top;
    margin: 0 auto;
    font-family:Arial;
    color:#f1f1f1;
}

#left {
    margin-left:3%;
}

.col:first-child { margin-left: 0; }

.span_1 {width: 31%;}

.span_2 {width: 100%;}

.info{
    background:#5e5f5f;
    margin:3px;
    text-align:center;
    padding:3px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:px;
    border: 1px solid #757575;
    -webkit-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
}

.info2{
    background:#5e5f5f;
    margin:0 auto;
    text-align:center;
    padding:3px;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:px;
    /*border: 1px solid #768a9b;*/
}

form{
    text-align:center;
    padding:5px 10px;
}

input   {
    height:-155px;
    margin:auto 12px;
}

#share{
    border-radius:30px;
    border:none;
    padding:5px 10px;
    width:50%;
}

#descargar:hover{
    background: #949494;
    cursor: pointer;
    border: 1px solid #333;
}

#toPopup {
    font-family: "arial";
    background:#1e2934;;
    border: 2px solid #27333f;
    border-radius:5px;
    display: none;
    font-size: 14px;
    position: fixed;
    top: 40%;
    left:35%;
    width: 30%;
    z-index: 999999;
}

div#popup_content {
    margin: 4px 7px;
}

#popup_content ul {
    padding: 0;
    margin: 0 auto;
}

#popup_content li {
    display: inline;
}

#popup_content a {
    font-size:13pt;
    color: #fff;
    display: inline-block;
    width: 99%;
    text-align: center;
    text-decoration: none;
    line-height: 59px;
    margin:2px auto;
    border-radius:3px;
    background:#576574;
}

#popup_content a:hover {
    background:#313f4d;
    text-decoration: none;
    list-style-type: none;
}

#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}

div.loader {
    background: url("../Images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("../Images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

/*Styles for screen-------------------- 600px----------------------.--------------------------------------------- and lower*/
@media screen and (max-width: 700px) {
	
	#map {
		width: 98%;
		}
	
	.logo{background-image:url(../Images/fly_logo.png);
	 margin-left:38%;
	 height:59px;
	 width:102px;
	 display:inline-block;
	 vertical-align:top;
	}

	nav { width:100%;
  		height: auto;
		margin-left:0%;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #2C2C2C;;
		border-right: 1px solid #2C2C2C;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
	
	.user{
    background-image:url(../Images/user.png);
    margin-top:5px;
    margin-right:7px;
    margin-bottom:3px;
    height:39px;
    width:40px;
    display:inline-block;
    vertical-align:top;
	float:right;
    cursor: pointer;}
	
	.user:hover{
    background-image:url(../Images/user-hover.png);
   }

	#project {
		width:88%;
		color: #fff;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		background:#3D3D3D;
		border:none;
		cursor: pointer;
		padding-top:3%;
		padding-bottom:3%
	}

#project:hover {
		background:#7C7E80;
    }

    #toPopup {
        font-family: "arial";
        background:#1e2934;;
        border: 2px solid #27333f;
        border-radius:5px;
        display: none;
        font-size: 14px;
        position: fixed;
        top: 50%;
        left:5%;
        width: 90%;
        z-index: 999999;
    }

    div#popup_content {
        margin: 4px 7px;
    }

    #popup_content ul {
        padding: 0;
        margin: 0 auto;
    }

    #popup_content li {
        display: inline;
    }

    #popup_content a {
        font-size:13pt;
        color: #fff;
        display: inline-block;
        width: 99%;
        text-align: center;
        text-decoration: none;
        line-height: 59px;
        margin:2px auto;
        border-radius:3px;
        background:#576574;
    }

    #popup_content a:hover {
        background:#313f4d;
        text-decoration: none;
        list-style-type: none;
    }

    #backgroundPopup {
        z-index:1;
        position: fixed;
        display:none;
        height:100%;
        width:100%;
        background:#000000;
        top:0px;
        left:0px;
    }

    div.loader {
        background: url("../Images/loading.gif") no-repeat scroll 0 0 transparent;
        height: 32px;
        width: 32px;
        display: none;
        z-index: 9999;
        top: 40%;
        left: 50%;
        position: absolute;
        margin-left: -10px;
    }
    div.close {
        background: url("../Images/closebox.png") no-repeat scroll 0 0 transparent;
        bottom: 24px;
        cursor: pointer;
        float: right;
        height: 30px;
        left: 27px;
        position: relative;
        width: 30px;
    }
    span.ecs_tooltip {
        background: none repeat scroll 0 0 #000000;
        border-radius: 2px 2px 2px 2px;
        color: #FFFFFF;
        display: none;
        font-size: 11px;
        height: 16px;
        opacity: 0.7;
        padding: 4px 3px 2px 5px;
        position: absolute;
        right: -62px;
        text-align: center;
        top: -51px;
        width: 93px;
    }
    span.arrow {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #000000;
        display: block;
        height: 1px;
        left: 40px;
        position: relative;
        top: 3px;
        width: 1px;
    }

}

/*--------------------------------------Styles for screen 515px and lower------------------------------------------------*/
@media only screen and (max-width : 480px) {

	#map {
		width: 95%;
		}

	.logo{background-image:url(../Images/fly_logo.png);
	  margin-left:3%;
	  margin-top:3px;
	  margin-bottom:3px;
	  height:55px;
	  width:102px;
	  display:inline-block;
	 vertical-align:top;
}

	nav {
		border-bottom: 0;
		margin-left:0%;
	}
	nav ul {
		display: none;
		height: auto;
	}
	
	.user{
    background-image:url(../Images/user.png);
    margin-top:5px;
    margin-right:19%;
    margin-bottom:3px;
    width: 40px;
	height: 39px;
    display:inline-block;
    vertical-align:top;
	float:right;
    cursor: pointer;}
	
	.user:hover{
    background-image:url(../Images/user-hover.png);
   }
	
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		/*position: relative;*/
	}
	
	
	nav a#pull {
		content:"";
		background: url('../Images/nav.png') no-repeat;
		width: 40px;
		height: 39px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 6px;
	}

    	nav a#pull:hover {
		background: url('../Images/nav-hover.png') no-repeat;
	}

	#project {
		width: 88%;
		color: #fff;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		background:#3D3D3D;
		border:none;
		cursor: pointer;
		padding-top:3%;
		padding-bottom:3%
	}

#project:hover {
		background:#7C7E80;
    }

.section {
width:100%;
/*opacity:0.65;
-moz-opacity: 0.65;
filter: alpha(opacity=65);*/
background:#5e5f5f;
margin: 0 auto;
} 

.col {
display:inline-block;
vertical-align:top;
margin: 0 auto;
font-family:Arial;
color:#f1f1f1;
}

#left {
margin-left:0%;
}

.col:first-child { margin-left: 0; }

.span_1 {
width: 100%; 
}

.span_2 {
width: 100%; 
}

.info{background:#5e5f5f;
margin:3px;
text-align:center;
padding:3px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:px;
border: 1px solid #757575 #757575;
-webkit-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
}

.info2{background:#5e5f5f;
margin:0 auto;
text-align:center;
padding:3px;
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:px;
/*border: 1px solid #768a9b;*/
}

form{
text-align:center;
padding:5px 5px;
}

input   {
height:-155px;
margin:auto 12px;
}

#share{
border-radius:30px;
border:none;
padding:5px 10px;
width:80%;
}

#descargar:hover{
background: #949494;
cursor: pointer;
border: 1px solid #333;
}

    #toPopup {
        font-family: "arial";
        background:#1e2934;
        border: 2px solid #27333f;
        border-radius:5px;
        display: none;
        font-size: 14px;
        position: fixed;
        top: 40%;
        left:4.5%;
        width: 90%;
        z-index: 999999;
    }

    div#popup_content {
        margin: 4px 7px;
    }

    #popup_content ul {
        padding: 0;
        margin: 0 auto;
    }

    #popup_content li {
        display: inline;
    }

    #popup_content a {
        font-size:13pt;
        color: #fff;
        display: inline-block;
        width: 99%;
        text-align: center;
        text-decoration: none;
        line-height: 59px;
        margin:2px auto;
        border-radius:3px;
        background:#576574;
    }

    #popup_content a:hover {
        background:#313f4d;
        text-decoration: none;
        list-style-type: none;
    }

    #backgroundPopup {
        z-index:1;
        position: fixed;
        display:none;
        height:100%;
        width:100%;
        background:#000000;
        top:0px;
        left:0px;
    }

    div.loader {
        background: url("../Images/loading.gif") no-repeat scroll 0 0 transparent;
        height: 32px;
        width: 32px;
        display: none;
        z-index: 9999;
        top: 40%;
        left: 50%;
        position: absolute;
        margin-left: -10px;
    }
    div.close {
        background: url("../Images/closebox.png") no-repeat scroll 0 0 transparent;
        bottom: 24px;
        cursor: pointer;
        float: right;
        height: 30px;
        left: 27px;
        position: relative;
        width: 30px;
    }
    span.ecs_tooltip {
        background: none repeat scroll 0 0 #000000;
        border-radius: 2px 2px 2px 2px;
        color: #FFFFFF;
        display: none;
        font-size: 11px;
        height: 16px;
        opacity: 0.7;
        padding: 4px 3px 2px 5px;
        position: absolute;
        right: -62px;
        text-align: center;
        top: -51px;
        width: 93px;
    }
    span.arrow {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #000000;
        display: block;
        height: 1px;
        left: 40px;
        position: relative;
        top: 3px;
        width: 1px;
    }

}

/*-----------------------------------------Smartphone-----------------------------------------------------*/
@media only screen and (max-width : 320px) {
	
	#map {
		width: 95%;
		}
	
	nav { width:100%;
  		height: auto;
		margin-left:0%;
  	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #2C2C2C;
	}
	
	.user{
    background-image:url(../Images/user.png);
    margin-top:5px;
    margin-right:21%;
    margin-bottom:3px;
    width: 40px;
	height: 39px;
    display:inline-block;
    vertical-align:top;
	float:right;
    cursor: pointer;}
	
	.user:hover{
    background-image:url(../Images/user-hover.png);
   }

#project {
		width:88%;
		color: #fff;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		background:#3D3D3D;
		border:none;
		cursor: pointer;
		padding-top:3%;
		padding-bottom:3%
	}
	
#project:hover {
		background:#7C7E80;
    }

.section {
width:100%;
/*opacity:0.65;
-moz-opacity: 0.65;
filter: alpha(opacity=65); */
background:#5e5f5f;
margin: 0 auto;
} 

.col {
display:inline-block;
vertical-align:top;
margin: 0 auto;
font-family:Arial;
color:#f1f1f1;
}

#left {
margin-left:0%;
}

.col:first-child { margin-left: 0; }

.span_1 {
width: 100%; 
}

.span_2 {
width: 100%; 
}

.info{background:#5e5f5f;
margin:3px;
text-align:center;
padding:3px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:px;
border: 1px solid #757575;
-webkit-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
}

.info2{background:#5e5f5f;
margin:0 auto;
text-align:center;
padding:3px;
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:px;
/*border: 1px solid #768a9b;*/
}

form{
text-align:center;
padding:5px 10px;
}

input   {
height:-155px;
margin:auto 6px;
}

#share{
border-radius:30px;
border:none;
padding:5px 10px;
width:50%;
}

#descargar:hover{
background:#949494;
cursor: pointer;
border: 1px solid #333;
}

    #toPopup {
        font-family: "arial";
        background:#1e2934;
        border: 2px solid #27333f;
        border-radius:5px;
        display: none;
        font-size: 14px;
        position: fixed;
        top: 40%;
        left:5%;
        width: 88%;
        z-index: 999999;
    }

    div#popup_content {
        margin: 4px 7px;
    }

    #popup_content ul {
        padding: 0;
        margin: 0 auto;
    }

    #popup_content li {
        display: inline;
    }

    #popup_content a {
        font-size:13pt;
        color: #fff;
        display: inline-block;
        width: 99%;
        text-align: center;
        text-decoration: none;
        line-height: 59px;
        margin:2px auto;
        border-radius:3px;
        background:#576574;
    }

    #popup_content a:hover {
        background:#313f4d;
        text-decoration: none;
        list-style-type: none;
    }

    #backgroundPopup {
        z-index:1;
        position: fixed;
        display:none;
        height:100%;
        width:100%;
        background:#000000;
        top:0px;
        left:0px;
    }

    div.loader {
        background: url("../Images/loading.gif") no-repeat scroll 0 0 transparent;
        height: 32px;
        width: 32px;
        display: none;
        z-index: 9999;
        top: 40%;
        left: 50%;
        position: absolute;
        margin-left: -10px;
    }
    div.close {
        background: url("../Images/closebox.png") no-repeat scroll 0 0 transparent;
        bottom: 24px;
        cursor: pointer;
        float: right;
        height: 30px;
        left: 27px;
        position: relative;
        width: 30px;
    }
    span.ecs_tooltip {
        background: none repeat scroll 0 0 #000000;
        border-radius: 2px 2px 2px 2px;
        color: #FFFFFF;
        display: none;
        font-size: 11px;
        height: 16px;
        opacity: 0.7;
        padding: 4px 3px 2px 5px;
        position: absolute;
        right: -62px;
        text-align: center;
        top: -51px;
        width: 93px;
    }
    span.arrow {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #000000;
        display: block;
        height: 1px;
        left: 40px;
        position: relative;
        top: 3px;
        width: 1px;
    }

}



