*{margin:0;
  padding:0
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles 
body {
	background-color: #333;
}*/

header {
	background-color:#3D3D3D;
}

.logo_fly{background-image:url(../Images/fly_logo.png);
	  margin-left:3%;
	  margin-top:3px;
	  margin-bottom:3px;
	  height:55px;
	  width:102px;
	  display:inline-block;
	 vertical-align:top;
}
nav {
	height: 59px;
	width: 74%;
	background:#3D3D3D;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	display:inline-block;
	vertical-align:top;
	margin-left:5%;
	/*border-bottom: 2px solid #283744;*/
}
nav ul {border-top: 1px solid #2C2C2C;
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 59px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 115px;
	text-align: center;
	text-decoration: none;
	line-height: 59px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid #2C2C2C;;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #7C7E80;
}
nav a#pull {
	display: none;
}

#project {
		width:100%;
		color: #fff;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		background:#3D3D3D;
		border:none;
		cursor: pointer;
		padding-top:3%;
		padding-bottom:3%
	}

#project:hover {
		background:#7C7E80;
    }

.section {
width:100%;
/*opacity:0.65;
-moz-opacity: 0.65;
filter: alpha(opacity=65);*/
background:#3D3D3D; 
margin: 0 auto;
} 

.col {
display:inline-block;
vertical-align:top;
margin: 0 auto;
font-family:Arial;
color:#f1f1f1;
}

#left {
margin-left:3%;
}

.col:first-child { margin-left: 0; }

.span_1 {
width: 31%; 
}

.span_2 {
width: 100%; 
}

.info{background:#5e5f5f;
margin:3px;
text-align:center;
padding:3px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border: 1px solid #757575;
-webkit-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
}

.info2{
background:#5e5f5f;
margin:0 auto;
text-align:center;
padding:3px;
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
/*border: 1px solid #768a9b;*/
}

form{
text-align:center;
padding:5px 10px;
}

input   {
height:-155px;
margin:auto 12px;
}

#share{
border-radius:30px;
border:none;
padding:5px 10px;
width:50%;
}

#descargar:hover{
background: #949494;
cursor: pointer;
border: 1px solid #333;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {

	.logo{background-image:url(../Images/fly_logo.png);
	margin-left:38%;
	 height:59px;
	 width:102px;
	 display:inline-block;
	 vertical-align:top;
	}

	nav { width:100%;
  		height: auto;
		margin-left:0%;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #2C2C2C;;
		border-right: 1px solid #2C2C2C;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}

	#project {
		width:88%;
		color: #fff;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		background:#3D3D3D;
		border:none;
		cursor: pointer;
		padding-top:3%;
		padding-bottom:3%
	}

#project:hover {
		background:#7C7E80;
    }

}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {

	.logo{background-image:url(../Images/fly_logo.png);
	  margin-left:3%;
	  margin-top:3px;
	  margin-bottom:3px;
	  height:55px;
	  width:102px;
	  display:inline-block;
	 vertical-align:top;
}

	nav {
		border-bottom: 0;
		margin-left:0%;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		/*position: relative;*/
	}
	nav a#pull {
		content:"";
		background: url('../Images/nav.png') no-repeat;
		width:30px;
		height:28px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 20px;
	}

    	nav a#pull:hover {
		background: url('../Images/nav-hover.png') no-repeat;
	}

	#project {
		width: 88%;
		color: #fff;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		background:#3D3D3D;
		border:none;
		cursor: pointer;
		padding-top:3%;
		padding-bottom:3%
	}

#project:hover {
		background:#7C7E80;
    }

.section {
width:100%;
/*opacity:0.65;
-moz-opacity: 0.65;
filter: alpha(opacity=65);*/
background:#3D3D3D; 
margin: 0 auto;
} 

.col {
display:inline-block;
vertical-align:top;
margin: 0 auto;
font-family:Arial;
color:#f1f1f1;
}

#left {
margin-left:0%;
}

.col:first-child { margin-left: 0; }

.span_1 {
width: 100%; 
}

.span_2 {
width: 100%; 
}

.info{background:#5e5f5f;
margin:3px;
text-align:center;
padding:3px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border: 1px solid #757575 #757575;
-webkit-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
}

.info2{background:#5e5f5f;
margin:0 auto;
text-align:center;
padding:3px;
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
/*border: 1px solid #768a9b;*/
}

form{
text-align:center;
padding:5px 5px;
}

input   {
height:-155px;
margin:auto 12px;
}

#share{
border-radius:30px;
border:none;
padding:5px 10px;
width:80%;
}

#descargar:hover{
background: #949494;
cursor: pointer;
border: 1px solid #333;
}

}

/*Smartphone-----------------------------------------------------*/
@media only screen and (max-width : 320px) {
	nav { width:100%;
  		height: auto;
		margin-left:0%;
  	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #2C2C2C;
	}

#project {
		width:88%;
		color: #fff;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		background:#3D3D3D;
		border:none;
		cursor: pointer;
		padding-top:3%;
		padding-bottom:3%
	}

#project:hover {
		background:#7C7E80;
    }

.section {
width:100%;
/*opacity:0.65;
-moz-opacity: 0.65;
filter: alpha(opacity=65); */
background:#3D3D3D; 
margin: 0 auto;
} 

.col {
display:inline-block;
vertical-align:top;
margin: 0 auto;
font-family:Arial;
color:#f1f1f1;
}

#left {
margin-left:0%;
}

.col:first-child { margin-left: 0; }

.span_1 {
width: 100%; 
}

.span_2 {
width: 100%; 
}

.info{background:#5e5f5f;
margin:3px;
text-align:center;
padding:3px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border: 1px solid #757575;
-webkit-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
box-shadow: 11px 11px 12px -6px rgba(0,0,0,0.75);
}

.info2{background:#5e5f5f;
margin:0 auto;
text-align:center;
padding:3px;
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
/*border: 1px solid #768a9b;*/
}

form{
text-align:center;
padding:5px 10px;
}

input   {
height:-155px;
margin:auto 6px;
}

#share{
border-radius:30px;
border:none;
padding:5px 10px;
width:50%;
}

#descargar:hover{
background:#949494;
cursor: pointer;
border: 1px solid #333;
}

}


