@charset "utf-8";
/* CSS Document */

/*Centra el contenido*/
.centrar { text-align:center; }
/*alinea a las izquierda*/
.izquierda { text-align:left; }
/*alinea a la derecha*/
.derecha { text-align:right; }
/*justifica el texto*/
.justificado {text-align: justify;}

/*crea una marge*/	
.margen{
		margin:0.5em;
	}
	
/*cra un borde*/
.marcoBorde{
	*border: .01em solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.4);
	-ms-border: 1px solid rgba(0, 0, 0, 0.4);
	

	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;

	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
	-ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);   pointer;
	
	
	}
	
	
/*fonde azul*/	
.azul{
		background-color:rgba(65, 105, 255,0.2);
	}
/*fonde rojo*/		
.rojo{
		background-color:rgba(255, 30, 30,0.5);
	}
/*fonde gris*/		
.gris{
		background-color:rgba(128, 128, 128,0.1);
	}

/*fonde verde*/	
.verde{
		background-color:rgba(20, 205, 50, 0.5);
	}
	
/*define como un boton*/
.botonMarco {
width:60%;
margin: 15px;
text-decoration: none;
 /*color: #fff;*/
 /*font-weight: bold;*/
 padding: 12px 20px;
 /*font-size: 18px;*/
 border-radius: 10px;
 /*background-color: #666666;*/
 box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
 position: relative;
 border-bottom: 1px solid rgba(255,255,255,0.2);
 display: inline-block;
 font-family: Arial, Helvetica, sans;
 text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
 line-height: 140%;
}

/*cuando pasa el raton por el boton*/
.botonMarco:hover {
 box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
 /*color: #fff !important;*/
}

/*cuando activa el boton*/
.botonMarco:active {
 top: 7px;
 box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
 color: #fff !important;
}


.formaBoton {
 border-radius: 5px;
 padding-left: 25px;
 padding-right: 25px;
}	

