* {
        margin: 0;
        padding: 0;
    }

header{background:#333;
width:100%;
height:60px;
margin: 0px auto;}
    
.logo{background:url(../images/logo_fly.png);
left: 120px;
height: 59px;
position: absolute;
text-align: center;
top: 2px;
width:102px;
z-index: 950;
        }
        
.nav_button .icon{background:url(../images/user.png);
width:33px;
height:37px;
margin-top:10%;
margin-left:40%;
}
    

/* Nuestro nav con id #menu lo flotaremos a la derecha*/
#menu{float: right;}   

    /* Quitamos estilos por defecto de el tag UL */
    #menu ul{
        list-style: none;
        font-size: 14px;
    }
        
        /* Centramos y ponemos los textos en mayuscula */
        #menu li{
           display: block;
           float: left;
           text-align: center;
        }
            
            /* Damos estilo a nuestros enlaces */
            #menu li a{
                display: block;
                font-family: Segoe Ui;
                font-size: 15pt;
                color: #fff;
                text-decoration: none;
                height: 60px;
                line-height: 60px;
                padding: 0 21.7px;
            }
            #menu li a:hover{
                background: #151a1e;
                color: #ccc;
                -moz-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }
    
    /* Estilos #nav-mobile y lo ocultamos */
    #nav-mobile{
        display: none;
        background: url(../images/nav.png) no-repeat center center;
        float: right;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top:0;
        opacity: .9;

    }   
    #nav-mobile:hover{ background: url(../images/nav-hover.png) no-repeat center center;}   
        /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
        #nav-mobile.nav-active{
            opacity: 1;
        }

        
/*MEDIA QUERY*/

@media only screen and (max-width: 768px) {

       
    h2{font-size: 40px;}
    
    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }

    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo  */
    #menu{
        width: 100%;
        float: none;
        position:absolute;
        z-index:999;
        padding-top: 60px;
    }
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{background:#33363b;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 1px solid #282b30;
                float: none;
            }

            /* Quitamos el borde del ultimo item del menú */
            #menu li:last-child{ border-bottom: 0;}
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background:#2a2d33}

        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            -webkit-transition: max-height .4s;
            -moz-transition: max-height .4s;
            -ms-transition: max-height .4s;
            -o-transition: max-height .4s;
            transition: max-height .4s;
        }   
            
            .nav_button{
background:#1799dd;
float:right;
width: 7.8125em;
height:60px;
z-index: 1950;
position:relative;
}
        
    }

.nav_button{
background:#1799dd;
float:right;
width: 7.8125em;
height:60px;
z-index: 1950;
position:relative;
}



/* ------------------------ */
.select{height:50px;
        width:100%;
        background-color: #828282;
        border-color: transparent;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        filter: alpha(opacity=90);
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;
        font-family:segoe ui;
        color:#fff;
        padding: auto 330px;
        /*margin: 20px 0;*/
        display:inline-block;
        }
        

input   {height:-155px;
        margin-right:40px;
        margin-left:7px;
        }
        
.medida {       
        display:inline-block;
        vertical-align:top;
        line-height:50px;
        background:trasparent;}


#select {height:50px;
        width:auto;
        background:trasparent;
        font-family:segoe ui;
        margin: 0 auto;
        line-height:50px;
        padding-left:30px;
        display:inline-block;
        vertical-align:top;}
        
.share  {       
        display:inline-block;
        vertical-align:top;
        line-height:50px;
        margin-left:2.2%;
        background:trasparent;}
        
#share  {   
        margin-top:10px;
        display:inline-block;
        vertical-align:top;
        height:30px;
        width:20%;
        margin-left:2.2%;
        background:trasparent;}